<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
       <h2>API Project: File Metadata Microservice</h2>

      <div class="container">
        
        <div class="view">
          <p id="subtitle1">
          Please Upload a File ...
          </p>
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      </div>
        <p class="mt-5" id="footnote">Developed in JavaScript and d3 by <span style="color:yellow;font-weight:bold">Grayman1</span></p>
        <p id="credit" >Part of FCC APIs and Microservices Projects</p>
      </div>  


<!--

      <div class="footer">
        <p>
          by 
          <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>  -->
   </body>
</html>
